{% extends 'basic.html' %}
{% load static %}
{% block title %}about{% endblock  %}

{% block aboutactive %} active{% endblock %}


{% block content %}
<div class="container">
     <div class="row rabout">
   
        <div class="col-4 center">
          <img  src="{%static 'images\logo.jpg'%}" class="bd-placeholder-img rounded-circle " width="300" height="300" >
          <h1 id="centerr">SkillBurster</h1>
        </div>  
        <div class="col-8 center">
          <h3 >Greeting! to all the lovely people out there</h3>
          <p>If you are despirate to learn datastructures & algorithms,competitive programming, development and many more trending skils. But don't know where to get started. SkillBurster is helping u guys to get resources for every technology that you want to master from begin to 
              advance level. The internet is flooded with thousands of resources and sometimes it becomes difficult for a beginner to choose from where to get started. So, here we provide you with the links of best platforms and youtube channels to learn, practice and explore the techs.</p>
        </div>
     </div>
</div>
   {% endblock  %}

   {% block footer %}foo{% endblock  %}


   {% block script %}
   
   {% endblock  %}