{% extends 'basic.html' %}
{% load static %}
{% block title %}about{% endblock  %}

{% block aboutactive %} active{% endblock %}


{% block content %}
<div class="container">
     <div class="row">
   
        <div class="col-lg-6 center">
          <img  src="{%static 'images\logo.jpg'%}" class="bd-placeholder-img rounded-circle " width="300" height="300" >
          <!-- <h3>Anupriya Sharma</h3>
          <h3>Founder: LevelUp</h3> -->
          <h3 id="center">LevelUp</h3>
          <h3 >Greeting! to all the lovely people out there</h3>
          <p>If you are despirate to learn datastructures & algorithms,competitive programming, development and many more trending skils. But don't know where to get started. LevelUp, this initiative is helping u guys to get resources for every technology that you want to master from begin to 
              advance level. We provide you with the links of best platforms to learn, practice and explore the techs.</p>
        </div><!-- /.col-lg-4 -->
     </div>
</div>
   {% endblock  %}

   {% block footer %}foo{% endblock  %}


   {% block script %}
   
   {% endblock  %}